.header{
    max-width: 100%;
    max-height: 80px;
    padding: 16px 22px;
    background-color: #ffffff;
    overflow: hidden;

    display: flex;
    justify-content: space-between;
    align-items: center;

    &__title {
        font-size: 18px;
        font-family: 'Inter', 'sans-serif';
        font-weight: 400;
        cursor: pointer;
    }

    &__sing-in {
        width: 84px;
        height: 35px;
        margin-left: auto;
        padding: 0;
        border: none;
        background: white;
        cursor: pointer;

        &:hover{
            border: 1px solid rgba(0, 0, 0, 0.85);
            border-radius: 5px;
            transform: scale(0.95);
            transition: 0.4s;
        }
    }

    &__active {
        width: 109px;
        height: 35px;

        padding: 0;
        margin-left: 19px;

        background: white;
        color: #52c41a;
        border: 1px #52c41a solid;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
            transform: scale(0.95);
            transition: 0.4s;
          }
    }

}
.link{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.85);
}
.user-container{
    display: flex;
    align-items: center;
    margin-left: auto;
    column-gap: 27px;
}
.user {
    text-decoration: none;
    display: flex;
    align-items: center;
    column-gap: 13px;
    color: rgba(0, 0, 0, 0.85);

    &__name {
        font-weight: 400;
        font-size: 18px;
        line-height: 28px; 
    }

    &__avatar {
        height: 46px;
        width: 46px;
        border-radius: 50%;
    }
}

.logOut {
    cursor: pointer;
    padding: 10px 18px;
    height: 51px;
    color: rgba(0, 0, 0, 0.75);
    border: 1px rgba(0, 0, 0, 0.75) solid;
    background: white;
    margin-right: 22px;
    border-radius: 5px;
    &:hover {
        transform: scale(0.95);
        opacity: 0.8;
        transition: 0.4s;
    }
}